<html>
    <head>
        <title> login page </title>
    </head>
    <body>
    <form action="/customers_delete" method="POST">
            <h2> Deleting account </h2>
            <hr/>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="delete">
        </form>

    </body>
</html>