<html>
    <head>
        <title> login page </title>
    </head>
    <body>
    <form action="/customers_login" method="POST">
            <h2>customers Login</h2>
            <hr/>
            <label for="txtUname">Username</label>
            <input type="text" id="txtUname" name="username" required><br><br>

            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" name="password" required><br><br>

            <input type="submit" value="Login">
        </form>
        <a href="/customers_signup">Not having account? Sign Up</a>

        <a href="/customers_delete"> delete account </a>
    </body>

</html>