<html>
    <head>
        <title>Sign up </title>
    </head>
    <body>

        <form action="/customers_signup" method="POST">
            <h2>customers Sign up</h2>
            <hr/>
            <label for="txtUsername">Username</label>
            <input type="text" id="txtUsername" name="username" required><br><br>

            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" name="password" required><br><br>

            <label for="txtEmail">Email</label>
            <input type="email" id="txtEmail" name="email" required><br><br>

            <label for="txtPhone">Phone no</label>
            <input type="text" id="txtPhone" name="phone_no" required><br><br>

            <input type="submit" value="Sign up">
        </form>
        <a href="/">Already account ? Login</a>
    </body>
</html>